*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #f2f4f7;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}


.container {
    display: flex;
    max-width: 980px;
    width: 100%;
    justify-content: space-between;
    gap: 60px;
    padding: 20px 0;
}


.content {
    width: 500px;
    margin-top: 20px;
}

.content img {
    width: 300px;
    margin-bottom: 20px;
}

.content p {
    font-size: 28px;
    line-height: 32px;
    color: #1c1e21;
    max-width: 480px;
}


.right_content {
    width: 396px;
}


.card_auth {
    padding: 15px 14px 24px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 
        0px 2px 4px rgba(0, 0, 0, 0.1),
        0px 8px 16px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadde1;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    display: none; 
}

.form-group input {
    width: 100%;
    padding: 14px 16px;
    font-size: 17px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}

.form-group input:focus {
    outline: none;
    border: 2px solid #1877f2;
}


form button {
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    background-color: #1877f2;
    color: white;
    margin-bottom: 16px;
}


form a {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    width: fit-content;
    color: #1877f2;
}

.card_auth > button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 6px;
    background-color: #42b72a;
    color: white;
}


.create_page {
    font-size: 14px;
    margin-top: 28px;
    text-align: center;
    color: #1c1e21;
}

.create_page a {
    color: black;
    font-weight: bold;
}

.C {
    color: #ffffff;
}
